# Sentiment

Reviews have strange sentence structures for machines to understand i.e. "movie is terrible" but also includes "good effecs" if we were to just rank things based on terms like good and bad this would be negated here.

In [3]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
import pandas

In [5]:
d = pandas.read_csv('data/movie_reviews.tsv', delimiter="\t")

In [6]:
#split into testing and training
split = 0.7 #percent of split
d_train = d[:int(split*len(d))]
d_test = d[int(1-split)*len(d):]

In [7]:
d_train[:5]

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [8]:
d_test[:5]

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [10]:
features = vectorizer.fit_transform(d_train.review)

In [11]:
i = 45000
j = 10
words = vectorizer.get_feature_name()[i:i+10]
pandas.DataFrame(features[j:j+7, i:i+10].todense(), columns=words)

AttributeError: 'CountVectorizer' object has no attribute 'get_feature_name'